<ion-header>
  <ion-navbar>
    <ion-title>
      Localization APP
    </ion-title>
    <ion-buttons end color="danger">
      <button ion-button outline color="danger" (click)="export()">
        EXPORT
      </button>
    </ion-buttons>
    <a id="downloadAnchorElem" style="display:none"></a>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-4 >
        <ion-list>
          <ion-item>
            <ion-label>Input Language</ion-label>
              <ion-select [(ngModel)]="inputLang">
              <ion-option *ngFor="let lang of languages" [value]="lang.code">{{lang.text}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item>
            <ion-label>Output Language</ion-label>
              <ion-select [(ngModel)]="outputLang">
              <ion-option *ngFor="let lang of languages" [value]="lang.code">{{lang.text}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label>Progress</ion-label>
          <ion-badge item-end [color]="(progess==100)?'secondary':'primary'">{{progess}} %</ion-badge>
        </ion-item>
      </ion-col>
      <ion-col col-12 col-sm-8>
        <section>
          <ion-card *ngFor="let data of inputArray; let i = index">
            <ion-card-header>
              {{data.key}}
            </ion-card-header>
            <ion-card-content>
              <p>{{data.value}}</p>
              <ion-item>
                  <ion-label style="margin:0px;"></ion-label>
                  <div item-content style="width:100%;">
                    <elastic-textarea placeholder="Type to compose" lineHeight="22" [content]="outputArray[data.key]" (onValueChange)="onValueChange(data.key,$event)"></elastic-textarea>
                  </div>
              </ion-item>
              <ion-item>
                    <button ion-button outline color="danger" (click)="export()" >Google Translate</button>
                    <button ion-button outline="{{!data.isDone}}" color="secondary" (click)="markAsDone(i)" >{{data.isDone?"Varified":"Mark as varified"}}</button>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
